PORT=3004
SUPABASE_URL=
SUPABASE_ANON_KEY=
JWT_SECRET=
USER_SERVICE_URL=http://localhost:3001
# API key mặc định cho Gemini, sử dụng trong môi trường phát triển
DEFAULT_GEMINI_API_KEY=
# Môi trường (development, production)
NODE_ENV=development
